
<configuration>

    <WebGUI>
	 
	<Applications>
        	<Application Code="DynamicDataForm" Type="WebSocketsSampleAppsCS.DynamicDataForm, WebSocketsSampleAppsCS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Authentication="Default" Stateless="False" ForceSSL="False" />
        </Applications>
		

        <Includes>
		<Include Source="WebSocketsSampleAppsCS.DynamicDataPage.Client.js" SourceType="Resource" IncludeType="Script" Assembly="WebSocketsSampleAppsCS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</Includes>
		
    </WebGUI>
 
    <system.webServer>
        <handlers>
          <add name="*.wgx_*" path="*.wgx" verb="*" type="Gizmox.WebGUI.Server.Router,Gizmox.WebGUI.Server,Version=4.0.5701.0,Culture=neutral,PublicKeyToken=3de6eb684226c24d" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
      <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
