.ListBox-Control
{
	[Skin.Border];
	[Skin.Background];	
	[Skin.VisualEffect]
}

.ListBox-Control_Disabled
{
    [Skin.ControlDisabledStyle];
}

.ListBox-Control_Disabled .ListBox-FontData
{
    [Skin.ControlTextFontDisabled];
}

.ListBox-FontData
{
	[Skin.Font];
	[Skin.Foreground];
}

.ListBox-Table_Focus .ListBox-Row_Selected TD 
{
  [Skin.FocusedListBoxSelectedRowStyle];
		
}

.ListBox-Container_Focus .ListBox-Row_Selected TD 
{
	[Skin.FocusedListBoxSelectedRowStyle];
}

.ListBox-Table
{
	height:100%;
	width:100%;
	table-layout: fixed;
}

.ListBox-Container .ListBox-Row TD
{
	[Skin.CellStyle];
}

.ListBox-Container .ListBox-Row_Selected TD
{
	[Skin.SelectedCellStyle];
}

.ListBox-Row_IMG
{
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	display:block;
	height:[Skin.SelectionIconHeight]px;
	width:[Skin.SelectionIconWidth]px;
}

.ListBox-ColorBox
{
	width:[Skin.ListBoxColorCellWidth]px;
	height:[Skin.ListBoxColorBoxHeight]px;
	
	[Skin.ColorBoxStyle];

}

.ListBox-ImageBox
{
	width:[Skin.ListBoxImageCellWidth]px;
	height:[Skin.ListBoxImageCellHeight]px;
}

.ListBox-ColorBoxWidth
{
	width:[Skin.PreferdColorBoxWidth]px;
	padding-top:0;
	padding-bottom:0;	
}

.ListBox-ImageBoxWidth
{
	width:[Skin.PreferdImageBoxWidth]px;
	padding-top:0;
	padding-bottom:0;	
}

.ListBox-Container
{
	overflow:auto;
	width:100%;
	height:100%;
	border:1px dotted transparent;
}

.ListBox-Container_Focus
{
	border:1px dotted black;
}

.ListBox-Control_Disabled .ListBox-Container .ListBox-Row TD
{
    [Skin.ControlTextForegroundDisabled];
}