.TabControl-CenterLayout
{
	width:100%!important;
}

.TabControl-TabDivContainer
{	
	display:inline;	
}

.TabControl-Container
{
    [Skin.Foreground];
	overflow-y:hidden;
	overflow-x:visible;
	display:inline;
}


.TabControl-Container div
{
	display:inline-block;
}

.TabControlSpread-Container div
{
	display:inline-block;
}