.DateTimePicker-Control
{
	[Skin.Border];
	[Skin.Background];
	[Skin.VisualEffect]
}

.DateTimePicker-Control_Disabled
{
    [Skin.ControlDisabledStyle];
}

.DateTimePicker-Control_Disabled input
{
    [Skin.ControlTextForegroundDisabled];
    [Skin.ControlTextFontDisabled];
}

.DateTimePicker-InputValue
{
	[Skin.InputValueStyle];
    [Skin.Font];
}

.DateTimePicker-DropDownIcon
{
	background-image:url([Skin.DropDownNormalImage]);
}

.DateTimePicker-DropDownIcon_Enter
{
	background-image:url([Skin.DropDownOverImage]);
}

.DateTimePicker-DropDownIcon_Down
{
	background-image:url([Skin.DropDownDownImage]);
}


.DateTimePicker-UpDownUpIcon
{
	background-image:url([Skin.UpDownUpNormalImage]);
}

.DateTimePicker-UpDownUpIcon_Enter
{
	background-image:url([Skin.UpDownUpOverImage]);
}

.DateTimePicker-UpDownUpIcon_Down
{
	background-image:url([Skin.UpDownUpDownImage]);
}


.DateTimePicker-UpDownDownIcon
{
	background-image:url([Skin.UpDownDownNormalImage]);
}

.DateTimePicker-UpDownDownIcon_Enter
{
	background-image:url([Skin.UpDownDownOverImage]);
}

.DateTimePicker-UpDownDownIcon_Down
{
	background-image:url([Skin.UpDownDownDownImage]);
}