<configuration>
  
  <WebGUI>


    <Applications>
      <Application Code="C1BarChartForm" Type="ComponentOneSampleAppsCS.C1BarChartForm, ComponentOneSampleAppsCS" Authentication="Default" Stateless="False" ForceSSL="False" />
    </Applications>

  </WebGUI>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="*.wgx_*" path="*.wgx" verb="*" type="Gizmox.WebGUI.Server.Router,Gizmox.WebGUI.Server,Version=4.0.5701.0,Culture=neutral,PublicKeyToken=3de6eb684226c24d" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

</configuration>
