.autocomplete-w1
{
	background:url([Skin.Path]NavigationViewSkin.autocomplete.shadow.png.wgx) no-repeat bottom right; 
	position:absolute; 
	top:0px; 
	left:0px; 
	margin:8px 0 0 6px; 
	/* IE6 fix: */ 
	_background:none; 
	_margin:0; 
}

.autocomplete
{
	font: normal normal normal 13px verdana;
	border:1px solid #AAA; /*#6593CF;*/
	
	-moz-border-radius: 4px;
    border-radius: 4px;

	background:#FFF; 
	padding:2px;
	cursor:default; 
	text-align:left; 
	max-height:350px; 
	overflow:auto; 
	margin:-6px 6px 6px -6px; 
	/* IE6 specific: _height:350px;*/   
	_margin:0; 
	_overflow-x:hidden; 
}

.autocomplete .selected
{ 
	background:#F1F1EB;
}

.autocomplete div { padding:3px 4px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#0a6db0; } /*#3399FF*/