<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <configSections>
    <section name="WebGUI" type="Gizmox.WebGUI.Common.Configuration.ConfigHandler, Gizmox.WebGUI.Common, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=263fa4ef694acff6" />
  </configSections>

  <connectionStrings>
    <add name="Gizmox.WebGUI.Forms.CompanionKit.Properties.Settings.NorthwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Northwind.mdb&quot;" providerName="System.Data.OleDb" />
    <add name="My.MySettings.NorthwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Northwind.mdb&quot;" providerName="System.Data.OleDb" />
  </connectionStrings>
 
  <appSettings>
    <!-- 
			To change hashed passw0rd value goto: http://www.xorbin.com/tools/sha1-hash-calculator
			Store it, when converted to upper case
			If the key isn't defined enter username:Admin passw0rd: Admin 
		-->
    <add key="Administrator" value="Admin,4E7AFEBCFBAE000B22C7C85E5560F89A2A0280B4" />
  </appSettings>
    
  <WebGUI>
 
    <Browsers>
      <Browser Id="Android">
        <Identification>
          <UserAgent Match="Android" />
        </Identification>
      </Browser>
    <Browser Id="iOS">
        <Identification>
          <UserAgent Match="iPhone|iPad|iPod" />
        </Identification>
      </Browser>
    </Browsers>

    <FormFactory>
      <Form Type="Gizmox.WebGUI.Forms.SEO.SEOMainForm, Gizmox.WebGUI.Forms.CompanionKit.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <SubForm Name="SEOAndroidForm" Theme="DeviceCKAndroid" BrowserId="Android" Type="Gizmox.WebGUI.Forms.SEO.SEODeviceMainForm, Gizmox.WebGUI.Forms.CompanionKit.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <SubForm Name="SEOiOSForm" Theme="DeviceCKiOS" BrowserId="iOS" Type="Gizmox.WebGUI.Forms.SEO.SEODeviceMainForm, Gizmox.WebGUI.Forms.CompanionKit.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </Form>
    </FormFactory>

    <!--  WEBGUI AUTHENTICATION MANAGEMENT
			This section defines the application authentication mode.
			Example: 
				<Authentication Mode="Dialog" Type="Ifn.W2.Web.POC.Forms.Logon, Ifn.W2.Web.POC" />
			Example Help: 
				Mode:
					Dialog - Authentication is done in a popup window
				Type:
					A full type name to handle logon (This class should inherit from the LogonForm)
		-->
    <!--Authentication Mode="Main" Type="Gizmox.WebGUI.Sample.Forms.Logon, Gizmox.WebGUI.Sample" /-->


    <ApplicationsMetaData>
      <meta name="viewport" content="height=device-height, width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    </ApplicationsMetaData>


    <!--  WEBGUI APPLICATION MANAGEMENT
			This section maps pages to application forms.
			Example:  
				<Application Code="MainForm" Type="MyCode.MainForm, MyCode"/>.
			Example Help: 
				The current application definition maps the full qualified class name to the 
				specifiec page code. This means that the link http://[host]/MainForm.wgx will
				be handles by the given application form.
		-->
    <Applications>
      <Application Code="Admin" Type="Gizmox.WebGUI.Forms.SEO.SEOFormFactory, Gizmox.WebGUI.Forms.CompanionKit.Engine" Authentication="Gizmox.WebGUI.Forms.Access.Logon, Gizmox.WebGUI.Forms.CompanionKit.Engine" Stateless="False" ForceSSL="False" />
      <Application Code="*" Type="Gizmox.WebGUI.Forms.SEO.SEOFormFactory, Gizmox.WebGUI.Forms.CompanionKit.Engine" Authentication="Default" Stateless="False" ForceSSL="False" />
      <Application Code="StatelessPropertyTrueForm" Type="Gizmox.WebGUI.Forms.CompanionKit.Controls.FormBox.Features.StatelessPropertyTrueForm, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Authentication="Default" Stateless="False" ForceSSL="False" />
      <Application Code="StatelessPropertyFalseForm" Type="Gizmox.WebGUI.Forms.CompanionKit.Controls.FormBox.Features.StatelessPropertyFalseForm, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Authentication="Default" Stateless="False" ForceSSL="False" />
      <Application Code="FormPropertyForm1" Type="Gizmox.WebGUI.Forms.CompanionKit.Controls.FormBox.Features.FormPropertyForm1, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Authentication="Default" Stateless="False" ForceSSL="False" />
      <Application Code="FormPropertyForm2" Type="Gizmox.WebGUI.Forms.CompanionKit.Controls.FormBox.Features.FormPropertyForm2, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Authentication="Default" Stateless="False" ForceSSL="False" />
      <Application Code="BindingToEventsForm" Type="Gizmox.WebGUI.Forms.CompanionKit.Controls.FormBox.Programming.BindingToEventsForm, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Authentication="Default" Stateless="False" ForceSSL="False" />
      <Application Code="ArgumentsPropertyForm" Type="Gizmox.WebGUI.Forms.CompanionKit.Controls.FormBox.Features.ArgumentsPropertyForm, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Authentication="Default" Stateless="False" ForceSSL="False" />
      <Application Code="ResultsPropertyForm" Type="Gizmox.WebGUI.Forms.CompanionKit.Controls.FormBox.Features.ResultsPropertyForm, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Authentication="Default" Stateless="False" ForceSSL="False" />
    </Applications>

    <Includes>
      <Include IncludeName="Included" IncludeType="Script" SourceType="Resource" Source="Gizmox.WebGUI.Forms.CompanionKit.Resources.Scripts.Included.js" MinimalSource="Gizmox.WebGUI.Forms.CompanionKit.Resources.Scripts.Included.js" Assembly="Gizmox.WebGUI.Forms.CompanionKit" />
    </Includes>
    <DeviceCKAndroid Value="Android" />
    <DeviceCKAndroid-img Value="DeviceCKAndroid.png" />
    <DeviceCKGraphite Value="Graphite" />
    <DeviceCKGraphite-img Value="DeviceCKGraphite.png" />
    <DeviceCKiOS Value="iOS7" />
    <DeviceCKiOS-img Value="DeviceCKiOS.png" />
    <DeviceCKLiveOffice Value="LiveOffice" />
    <DeviceCKLiveOffice-img Value="DeviceCKLiveOffice.png" />
    <!--  WebGUI THEMES MANAGEMENT
			Selected - The currently selected scheme
		-->
    <Themes Selected="Default">
      <Theme Name="Default" Type="Gizmox.WebGUI.Forms.Themes.Default, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="Vista" Type="Gizmox.WebGUI.Forms.Themes.Vista, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="Analytics" Type="Gizmox.WebGUI.Forms.Themes.Analytics, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="FaceBook" Type="Gizmox.WebGUI.Forms.Themes.FaceBook, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="Gmail" Type="Gizmox.WebGUI.Forms.Themes.Gmail, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="Office2010" Type="Gizmox.WebGUI.Forms.Themes.Office2010, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="iOS" Type="Gizmox.WebGUI.Forms.Themes.iOS, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="iOS7" Type="Gizmox.WebGUI.Forms.Themes.iOS7, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="Android" Type="Gizmox.WebGUI.Forms.Themes.Android, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="Graphite" Type="Gizmox.WebGUI.Forms.Themes.Graphite, Gizmox.WebGUI.Forms.Themes" />
      <Theme Name="DeviceCKiOS" Type="Gizmox.WebGUI.Forms.CompanionKit.Themes.CKiOS, Gizmox.WebGUI.Forms.CompanionKit" />
      <Theme Name="DeviceCKAndroid" Type="Gizmox.WebGUI.Forms.CompanionKit.Themes.CKAndroid, Gizmox.WebGUI.Forms.CompanionKit" />
      <Theme Name="DeviceCKGraphite" Type="Gizmox.WebGUI.Forms.CompanionKit.Themes.CKGraphite, Gizmox.WebGUI.Forms.CompanionKit" />
      <Theme Name="DeviceCKLiveOffice" Type="Gizmox.WebGUI.Forms.CompanionKit.Themes.CKLiveOffice, Gizmox.WebGUI.Forms.CompanionKit" />
    </Themes>

    <!--  WEBGUI CONTROL MANAGEMENT 
			This section registers controls so that the webgui server can expose there resources.
		-->
    <Controls>
      <Control Type="Gizmox.WebGUI.Forms.CompanionKit.UI.*, Gizmox.WebGUI.Forms.CompanionKit.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <Control Type="Gizmox.WebGUI.Forms.RichTextEditor, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="Gizmox.WebGUI.Forms.ScheduleBox, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="Gizmox.WebGUI.Forms.RibbonBar, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="Gizmox.WebGUI.Forms.NavigationTabs, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="VWGApplication.VwgAdapter, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <Control Type="Gizmox.WebGUI.Forms.Professional.GoogleMap, Gizmox.WebGUI.Forms.Professional, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=6b5c571512bede7c" />
      <Control Type="Gizmox.WebGUI.Forms.Google.GoogleMap, Gizmox.WebGUI.Forms.Professional, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=6b5c571512bede7c" />
      <Control Type="Gizmox.WebGUI.Forms.Charts.Chart, Gizmox.WebGUI.Forms.Charts, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=f1bb83df6a8597fb" />
      <Control Type="Gizmox.WebGUI.Forms.HelpDialog, Gizmox.WebGUI.Forms.Help, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=null" />
      <Control Type="Gizmox.WebGUI.Forms.HeaderedPanel, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="Gizmox.WebGUI.Forms.SearchTextBox, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="Gizmox.WebGUI.Forms.WorkspaceTabs, Gizmox.WebGUI.Forms.Extended, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=85eae29607c9f5f3" />
      <Control Type="Gizmox.WebGUI.Forms.ExtendedToolTip, Gizmox.WebGUI.Forms.Extended, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=85eae29607c9f5f3" />
      <Control Type="CompanionKit.DeviceIntegration.Compass.Compass, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <Control Type="CompanionKit.DeviceIntegration.Accelerometer.AccelerationPanel, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <Control Type="CompanionKit.DeviceIntegration.Contacts.Functionality.ContactsListView, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <Control Type="Gizmox.WebGUI.Forms.WatermarkTextBox, Gizmox.WebGUI.Forms.Extended, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=85eae29607c9f5f3" />
      <Control Type="Gizmox.WebGUI.Forms.StackPanel, Gizmox.WebGUI.Forms.Professional, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=6b5c571512bede7c" />
      <Control Type="Gizmox.WebGUI.Forms.ExpandableGroupBox, Gizmox.WebGUI.Forms.Professional" />
      <Control Type="Gizmox.WebGUI.Forms.Editors.FCKEditor, Gizmox.WebGUI.Forms.Extended, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=85eae29607c9f5f3" />
      <Control Type="Gizmox.WebGUI.Forms.Professional.ZedGraphControl, Gizmox.WebGUI.Forms.Professional, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=6b5c571512bede7c" />
      <Control Type="Gizmox.WebGUI.Forms.CompanionKit.DeviceIntegration.FileManagement.CustomControls.FileManagerFoldersListView, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	  <Control Type="Gizmox.WebGUI.Forms.CompanionKit.Concepts.ClientAPI.AnchorFolder.CustomAnchorListBox, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  	  <Control Type="Gizmox.WebGUI.Forms.CompanionKit.Concepts.ClientAPI.PaddingFolder.CustomPaddingButton, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  	  <Control Type="Gizmox.WebGUI.Forms.CompanionKit.Concepts.ClientAPI.FocusFolder.CustomFocusableTextBox, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	  <Control Type="Gizmox.WebGUI.Forms.CompanionKit.Concepts.ClientAPI.ColorAndText.CustomStateButton, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <Control Type="Gizmox.WebGUI.Forms.CompanionKit.Concepts.ClientAPI.BackgroundImage.BackImagePanel, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <Control Type="Gizmox.WebGUI.Forms.CompanionKit.Concepts.ClientAPI.WidthHeight.MyTextBox, Gizmox.WebGUI.Forms.CompanionKit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <Control Type="Gizmox.WebGUI.Forms.UploadControl, Gizmox.WebGUI.Forms.Extended, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=85eae29607c9f5f3" />
    </Controls>

    <PreloadedResources>
      <Directories>
        <Directory Name="Images" Pattern="offline.png" />
      </Directories>
    </PreloadedResources>

    <DeviceIntegration>
      <Accelerometer Frequency="10" />
      <Compass Frequency="10" />
      <Geolocation Timeout="10000" MaximumAge="5000" EnableHighAccuracy="true" />
    </DeviceIntegration>

    <!--  WebGUI RESOURCE MANAGEMENT
			Icons		- This maps the icon directory (Absolute\Relative path).
			Images		- This maps the images directory (Absolute\Relative path).
			Generated	- This maps the generated resources directory and is requiered for using custom controls (Absolute\Relative path).
			Data		- This maps the data directory which should contain data related files (Absolute\Relative path)  
		-->
    <Directories>
      <Directory Code="Icons" Path="Resources\Icons" />
      <Directory Code="Images" Path="Resources\Images" />
      <Directory Code="Generated" Path="Resources\Generated" />
      <Directory Code="Data" Path="Resources\UserData" />
    </Directories>

    <!-- WEBGUI STATIC RESOURCES MANAGMENT
			The mechanism should be used in a deployment scenario to boost performance. The static
			resoruces mode creates a directory named "Route" and with in it files that are accessed
			directly using the web server instead of dynamicly generated files. You should check that
			there the site can write to that directory.
		-->
    <StaticResources Mode="Off" />

    <!--
			WEBGUI PRIVATE VERSION
			Adds the private version key to the caching key. This key provides a mechanism to invalidate
			both client and server caching. You should use this key when you are delpoying a theme or	
			a new custom control. The server and client caching are per site.
		-->
    <PrivateVersion Value="1" />


    <!--
			WEBGUI PRELOADING
			Chaning the Mode to "On" enables icon preloading mechanism. This mainly prevents IE
			loading the same image multiple times.
		-->
    <IconsPreloading Mode="Off" />

  </WebGUI>

  <system.diagnostics>
    <switches>
      <!--
			Provides a mechanism for monitor an application using a debug messages viewer or
			in debug time in the output window. Remember to turn turn this feature off in 
			a deplyment scenario.
			0 - Disabled
			1 - Gives error messages
			2 - Gives errors and warnings
			3 - Gives more detailed error information
			4 - Gives verbose trace information
			-->
      <add name="VWG_TracingSwitch" value="0" />
      <!--
			Performance tracing limited to this threshold
			-->
      <add name="VWG_TracingThresholdSwitch" value="10" />
      <!--
			Disables the caching of Visual WebGui resources
			-->
      <add name="VWG_DisableCachingSwitch" value="1" />
      <!--
			Disables client sources obscuring (Mainly for debugging and developing purposes)
			0 - Disabled
			1 - Enabled
			-->
      <add name="VWG_DisableObscuringSwitch" value="0" />
      <!--
			0 - Disabled
			1 - Enable Visual Web Gui KeyboardShortCuts
			-->
      <add name="VWG_EnableClientShortcutsSwitch" value="1" />

      <add name="VWG_ShowDebuggerSwitch" value="0" />
    </switches>
  </system.diagnostics>

    <location path="." inheritInChildApplications="false">
        <system.web>

            <!-- Indicates the maximum file upload size supported by ASP.NET. This limit can be used to prevent denial of service attacks 
	caused by users posting large files to the server. The size specified is in kilobytes. The default is 4096 KB (4 MB). -->
            <!-- Unremark the following line to use wrapper or WVG debugger in 2010 -->
            <!-- <httpRuntime requestValidationMode="2.0"/> -->
            <httpRuntime maxRequestLength="4096" />

            <httpHandlers>

                <!--  WebGUI ROUTER HANDLER
				This http handler routes the requests to Modules/Icons/Images/Css/Xslt/Resoureces.
				Client events are sinked through this router as well.
			-->
                <add verb="*" path="*.wgx" type="Gizmox.WebGUI.Forms.SEO.SEORouter, Gizmox.WebGUI.Forms.CompanionKit.Engine" />

                <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </httpHandlers>
            <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
            <compilation defaultLanguage="c#" debug="true" />

            <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
            <customErrors mode="RemoteOnly" />

            <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />

            <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->

            <authorization>
                <allow users="*" />
                <!-- Allow all users -->
                <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
            </authorization>

            <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
            <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />

            <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />

            <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
            <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

        </system.web>
    </location>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
                <validation validateIntegratedModeConfiguration="false" />
                <handlers>
                    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                    <add name="VWG" verb="*" path="*.wgx" type="Gizmox.WebGUI.Forms.SEO.SEORouter, Gizmox.WebGUI.Forms.CompanionKit.Engine" preCondition="integratedMode,runtimeVersionv4.0" />
                </handlers>
        </system.webServer>
    </location>
</configuration>