
<configuration>
 
    <WebGUI>
      <Applications>
      	<Application Code="OfflineModeForm" Type="OfflineModeSampleAppCS.OfflineModeForm, OfflineModeSampleAppCS" Authentication="Default" Stateless="False" ForceSSL="False" />
      </Applications>
		
	
      <Includes>
      	<Include IncludeName="Offline" IncludeType="Script" SourceType="Resource" MinimalSource="OfflineModeSampleAppCS.OfflineModeForm.Client.js" Source="OfflineModeSampleAppCS.OfflineModeForm.Client.js" Assembly="OfflineModeSampleAppCS" />
      </Includes>

    <PreloadedResources>

      <Directories>
        <Directory Name="Images" Pattern="*.*" />
      </Directories>

    </PreloadedResources>
    
    </WebGUI>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="*.wgx_*" path="*.wgx" verb="*" type="Gizmox.WebGUI.Server.Router,Gizmox.WebGUI.Server,Version=4.0.5701.0,Culture=neutral,PublicKeyToken=3de6eb684226c24d" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

</configuration>
