.ListViewVisualTemplateContactName
{
    font-weight: bold;
}

.ListViewVisualTemplateContactData1
{
    font-size: smaller;
}

.ListViewVisualTemplateContactData2
{
    font-size: x-small;
}
